/* global styles */
body {
    background-color: #ddb057;
    color: #121017;
    font-family: sans-serif;
  }
  
  /* navigation */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    padding: 0.5rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    color: #ddb057;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
 /* landing page */
#landing {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing-content {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: white;
  border-radius: 10px;
}

.image-container {
  flex: 0.5;
  overflow: hidden;
  border-radius: 50%;
  margin: 1rem;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.landing-text {
  flex: 1;
  text-align: left;
  margin-left: 2rem;
}
.landing-text #name-text {
  color: #ddb057;
  margin-top: -1rem;
}

.landing-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.landing-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}
  
  /* voice reels */
  #voice-reels {
    padding: 50px 20px;
    padding-top: 1px;
    background-color: #121017;
    border-radius: 5%;
  }
  
  #voice-reels h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ddb057;
    font-size: 3rem;
  }
  
  #voice-reels ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #ddb057;
    border-radius: 5%;
  }
  
  #voice-reels li {
    margin: 20px;
  }
  
  /* about me */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  height: 70vh;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 3rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
   margin: 0 auto;
   margin-bottom: 8rem; 
  height: 60%;
}

.about-text {
  flex: .7;
  text-align: left;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

.about-image {
  flex: .4;
  max-width: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

  
  
 /* testimonials */
#testimonials {
  padding-top: 1px;
}

#testimonials h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  background-color: #121017;
  color: #ddb057;
}

#testimonials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#testimonials li {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  padding: 20px;
  background-color: #121017;
  border-radius: 10px;
  color: white;
}

#testimonials li:nth-child(2n) {
  margin-left: auto;
}


#testimonials h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#testimonials p {
  font-size: 1.2rem;
  margin-top: 0;
}

  
  /* contact me */
  #contact-me {
    padding: 50px 20px;
  }
  
  #contact-me h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contact-me ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  #contact-me li {
    margin: 0 20px;
  }
  
  #contact-me a {
    color: white;
    background-color: #ddb057;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  #contact-me a:hover {
    background-color: white;
    color: #ddb057;
  }